footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

footer h3 {
  text-align: center;
  color: white;
}

@media screen and (max-width: 1517px) {
  footer {
    margin-top: 120px;
    margin-bottom: 20px;
  }
  
  footer h3 {
    color: white;
  }
}

@media screen and (max-width: 945px) {
  footer {
    margin-top: 80px;
  }

  footer  h3 {
    margin-left: 40px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 450px) {
  footer {
    margin-top: 60px;
  }

  footer  h3 {
    font-size: 14px;
  }
}