.One {
  padding-left: 12%;
}

.One img {
  float: right;
  margin-right: 10%;
  margin-top: -8%;
  width: 480px;
  border-radius: 100%;
  border: 2px solid white;
}

.One h1 {
  font-size: 46px;
  width: 48%;
  padding-bottom: 15%;
  text-align: justify;
  color: white;
}

.Text-Tec {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5%;
}

.Text-Tec h1 {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  border-radius: 40px;
  width: 20%;
  font-size: 44px;
  text-align: center;
}

.container-tecnologias {
  display: flex;
  justify-content: space-around;
}

.title-tec {
  display: flex;
  justify-content: center;
}

.title-tec h2 {
  width: 30%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: 32px;
  margin-top: 15%;
  text-align: center;
  color: whitesmoke;
}

.tecnologias {
  display: flex;
  color: white;
  margin-top: 50px;
}

.Tec1 {
  margin-right: 20px;
}

.tecnlogia-info {
  margin: 0 30px;
}

.tecnlogia-info img{
  width: 180px;
  height: 170px;
}

.tecnologias p {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.container-curriculo {
  color: white;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-curriculo h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

#Curriculo {
    margin-top: 10%;
}

.container-curriculo a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-weight: bold;
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  transition: .2s;
}

.container-curriculo a:hover {
  border: 2px solid red;
  background-color: transparent;
  
}

.container-redes {
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p-rede {
  margin-top: 20%;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: white;
}

span {
  color: #808080;
  border-bottom: 1px solid white;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redes a {
  display: flex;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 8px;
  width: 320px;
  height: 70px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.redes a:hover {
  border: 2px solid grey;
}

i {
  margin-right: 18px;
  font-size: 34px;
  color: white;
}

@media screen and (max-width: 450px) {
  section {
    margin-left: 0%;
    width: 90%;
  }

  section,
  ul {
    padding-left: 4%;
  }

  section p, h1 {
    width: 90%;
  }

  h1 {
    padding-left: 6%;
    font-size: 32px;
  }

  section p {
    padding-top: 15%;
    padding-left: 6%;
    font-size: 17px;
  }

  img {
    display: flex;
    position: absolute;
    margin-top: 345px;
    margin-left: 140px;
    width: 150px;
  }

  .container-redes {
    width: 95%;
  }

  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  #p-rede {
    font-size: 26px;
    margin-top: 60%;
    margin-bottom: -5px;
  }

  .redes a {
    font-size: 20px;
    font-weight: bold;
    width: 210px;
    height: 50px;
    margin-left: 5%;
  }

  i {
    font-size: 24px;
  }
}