h1,
p {
  color: white;
}

section,
ul {
  padding-left: 13%;
}

h1 {
  font-size: 56px;
  width: 39%;
  padding-bottom: 4%;
  text-align: justify;
}

p {
  font-size: 23px;
  width: 39%;
  text-align: justify;
}

#p-rede {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

span {
  color: #808080;
  border-bottom: 1px solid white;
}

.container-redes {
  padding-top: 4%;
  display: flex;
  margin-left: 10%;
}

.redes a {
  display: flex;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 8px;
  width: 340px;
  height: 70px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  transition: 0.2s;
}

.redes a:hover {
  border: 2px solid grey;
}

img {
  float: right;
  margin-right: 10%;
  margin-top: -3%;
  width: 550px;
  border-radius: 100%;
  border: 2px solid white;
}

i {
  margin-right: 18px;
  font-size: 30px;
}

@media screen and (max-width: 450px) {
  section {
    margin-left: 0%;
    width: 90%;
  }

  section,
  ul {
    padding-left: 4%;
  }

  section p, h1 {
    width: 90%;
  }

  h1 {
    padding-left: 6%;
    font-size: 32px;
  }

  section p {
    padding-top: 15%;
    padding-left: 6%;
    font-size: 17px;
  }

  img {
    display: flex;
    position: absolute;
    margin-top: 345px;
    margin-left: 140px;
    width: 150px;
  }

  .container-redes {
    width: 95%;
  }

  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  #p-rede {
    font-size: 26px;
    margin-top: 60%;
    margin-bottom: -5px;
  }

  .redes a {
    font-size: 20px;
    font-weight: bold;
    width: 210px;
    height: 50px;
    margin-left: 5%;
  }

  i {
    font-size: 24px;
  }
}