.One {
  padding-left: 12%;
  display: flex;
}

.One img {
  width: 480px;
  margin-right: 140px;
  margin-top: -20%;
  border-radius: 100%;
  border: 2px solid white;
}

.One h1 {
  font-size: 46px;
  width: 75%;
  text-align: justify;
  color: white;
}

.Text-Tec {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5%;
}

.Text-Tec h1 {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  border-radius: 40px;
  width: 20%;
  font-size: 44px;
  text-align: center;
}

.container-tecnologias {
  display: flex;
  justify-content: space-around;
}

.title-tec {
  display: flex;
  justify-content: center;
}

.title-tec h2 {
  width: 30%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: 32px;
  margin-top: 15%;
  text-align: center;
  color: whitesmoke;
}

.tecnologias {
  display: flex;
  color: white;
  margin-top: 50px;
}

.Tec1 {
  margin-right: 20px;
}

.tecnlogia-info {
  margin: 0 30px;
}

.tecnlogia-info img{
  width: 180px;
  height: 170px;
}

.tecnologias p {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}

.container-curriculo {
  color: white;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-curriculo h1 {
    font-size: 42px;
    margin-bottom: 40px;
}

#Curriculo {
    margin-top: 10%;
}

.curriculo-info {
  margin-top: 20px;
}

.container-curriculo a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-weight: bold;
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  transition: .2s;
}

.container-curriculo a:hover {
  border: 2px solid red;
  background-color: transparent;
  
}

#Text-projeto {
  margin-top: 5%;
}

.container-projetos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.desc-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.desc-projeto a {
  color: white;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s ease-out;
}

.desc-projeto p {
  color: white;
  font-size: 20px;
}

.desc-projeto img {
    width: 400px;
  }

.desc-projeto a:hover {
  transform: scale(1.1);
}

.desc-projeto p {
  margin-top: 10%;
}

.container-redes {
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: #808080;
  border-bottom: 1px solid white;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redes a {
  display: flex;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 8px;
  width: 320px;
  height: 70px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.redes a:hover {
  border: 2px solid grey;
}

i {
  margin-right: 18px;
  font-size: 34px;
  color: white;
}

#formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 2%;
}

#informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 6px;
  width: 360px;
  height: 420px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input,button,textarea {
  background-color: white;
  margin-top: 20px;
  width: 320px;
  height: 40px;
  border-radius: 6px;
}

textarea, input {
  padding-left: 10px;
}

form button {
  margin-top: 10%;
  height: 40px;
  margin-left: 2%;
}

textarea {
  height: 160px;
  padding-top: 10px;
  resize: none;
}

@media only screen and (max-width: 1340px) {
  .One img {
    margin-top: -5%;
    margin-right: 8%;
    width: 280px;
  }
  
  .One h1 {
    font-size: 42px;
    width: 60%;
    padding-bottom: 12%;
  }
  
  .Text-Tec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
  }
  
  .Text-Tec h1 {
    width: 25%;
    font-size: 42px;
  }
  
  .container-tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title-tec h2 {
    width: 30%;
    font-size: 34px;
    margin-top: 14%;
  }
  
  .tecnlogia-info {
    margin: 0 60px;
  }
  
  .tecnlogia-info img{
    width: 170px;
    height: 170px;
  }
  
  .container-curriculo {
    margin-top: 10%;
  }
  
  .container-curriculo h1 {
      font-size: 42px;
      margin-bottom: 40px;
  }
  
  #Curriculo {
      margin-top: 20%;
  }
  
  .curriculo-info {
    margin-top: 20px;
  }
  
  .container-curriculo a {
    padding: 12px 14px;
    font-size: 16px;
  }
  
  #Text-projeto {
    margin-top: 14%;
  }
  
  .desc-projeto p {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .desc-projeto img {
      width: 340px;
    }
  
  #p-rede {
    margin-top: 20%;
    font-size: 32px;
  }
  
  .redes a {
    width: 290px;
    height: 60px;
    font-size: 24px;
    font-weight: normal;
  }
  
  i {
    margin-right: 18px;
    font-size: 32px;
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .One {
    padding-left: 4%;
  }
  
  .One img {
    width: 200px;
    margin-top: -15%;
    margin-right: 60px;
  }
  
  .One h1 {
    font-size: 30px;
    width: 85%;
    padding-bottom: 12%;
  }
  
  .Text-Tec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
  }
  
  .Text-Tec h1 {
    width: 40%;
    font-size: 38px;
  }
  
  .container-tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title-tec h2 {
    width: 30%;
    font-size: 32px;
    margin-top: 14%;
  }
  
  .Tec1 {
    margin-right: 20px;
  }
  
  .tecnlogia-info {
    margin: 0 60px;
  }
  
  .tecnlogia-info img{
    width: 160px;
    height: 160px;
  }
  
  .tecnologias p {
    font-size: 20px;
    margin-top: 25px;
  }
  
  .container-curriculo {
    margin-top: 10%;
  }
  
  .container-curriculo h1 {
      font-size: 42px;
      margin-bottom: 40px;
  }
  
  #Curriculo {
      margin-top: 20%;
  }
  
  .curriculo-info {
    margin-top: 20px;
  }
  
  .container-curriculo a {
    padding: 14px 16px;
    font-size: 16px;
  }
  
  #Text-projeto {
    margin-top: 14%;
  }
  
  .desc-projeto p {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .desc-projeto img {
      width: 220px;
    }
  
  .redes a {
    width: 290px;
    height: 60px;
    font-size: 24px;
    font-weight: normal;
  }
  
  i {
    margin-right: 18px;
    font-size: 32px;
    color: white;
  }
}

@media screen and (max-width: 450px) {
  .One {
    padding-left: 6%;
  }

  .One img {
    margin-top: 35%;
    margin-right: 20px;
    width: 100px;
  }
  
  .One h1 {
    font-size: 18px;
    margin-top: 20%;
    width: 90%;
    padding-bottom: 12%;
  }
  
  .Text-Tec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
  }
  
  .Text-Tec h1 {
    width: 60%;
    font-size: 34px;
  }
  
  .container-tecnologias {
    display: block;
  }
  
  .title-tec {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .title-tec h2 {
    width: 50%;
    font-size: 32px;
    margin-top: 25%;
  }
  
  .tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .tecnlogia-info {
    margin: 0 0px 60px 0px;
  }
  
  .tecnlogia-info img{
    width: 180px;
  }
  
  .tecnologias p {
    font-size: 22px;
    margin-top: 15px;
  }
  
  .container-curriculo {
    margin-top: 8%;
    display: flex;
  }
  
  .container-curriculo h1 {
      font-size: 42px;
      margin-bottom: 40px;
  }
  
  #Curriculo {
      margin-top: 20%;
  }
  
  .curriculo-info {
    margin-top: 80px;
  }
  
  .container-curriculo a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
  }
  
  #Text-projeto {
    margin-top: 25%;
  }
  
  .container-projetos {
    display: block;
    align-items: center;
  }
  
  .desc-projeto {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
  }
  
  .desc-projeto p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .desc-projeto img {
      width: 250px;
    }
  
  .desc-projeto p {
    margin-top: 8%;
  }
  
  .container-redes {
    padding-top: 4%;
  }

  .redes a {
    display: flex;
    margin-top: 10%;
    width: 290px;
    height: 70px;
  }

  #formulario {
    margin-top: 10%;
  }
  
  #informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 6px;
    width: 320px;
    height: 410px;
  }
  
  form input,button,textarea {
    background-color: white;
    margin-top: 20px;
    width: 280px;
    height: 40px;
    border-radius: 6px;
  }
  
  form button {
    margin-top: 10%;
    margin-left: 30%;
    height: 40px;
    width: 120px;
  }
  
  textarea {
    height: 160px;
    padding-top: 10px;
    resize: none;
  }
}