* {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  padding-bottom: 8%;
}

ul {
  display: flex;
  margin-top: 60px;
  color: #808080;
  padding-left: 12%;
}

li {
  list-style: none;
  font-size: 28px;
}

header a {
  color: grey;
  margin-right: 140px;
  text-decoration: none;
  border-bottom: 2px solid grey;
  transition: .2s;
}

header a:hover {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1024px) {
  header {
    padding-bottom: 14%;
  }
  
  ul {
    justify-content: space-around;
    padding-left: 0%;
  }
  
  li {
    font-size: 26px;
  }
  
  header a {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 450px) {
  header {
    padding-bottom: 8%;
  }
  
  ul {
    display: flex;
    padding: 0%;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  
  li {
    font-size: 22px;
  }
  
  header a {
    margin-right: 0px;
  }
}
