* {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  padding-bottom: 8%;
}

ul {
  display: flex;
  margin-top: 60px;
  color: #808080;
  padding-left: 12%;
}

li {
  list-style: none;
  font-size: 28px;
}

header a {
  color: grey;
  margin-right: 140px;
  text-decoration: none;
  border-bottom: 2px solid grey;
  transition: .2s;
}

header a:hover {
  border-bottom: 2px solid white;
}

/* @media screen and (max-width: 800px) and (orientation: landscape) {
    header {
        margin-bottom: 5%;
      }

    header ul {
      margin-left: -2%;
      display: flex;
      justify-content: space-around;
      
    }

    header a {
      margin-right: 0px;
      font-size: 24px;
    }
} */

@media only screen and (max-width: 450px) {
  header {
    padding-bottom: 8%;
  }
  
  ul {
    display: flex;
    margin-top: 60px;
    padding-left: 6%;
  }
  
  li {
    list-style: none;
    font-size: 30px;
  }

  header a {
    margin: 0px 40px 0px 35px ;
  }
}