* {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

header {
  padding-bottom: 8%;
}

ul {
  display: flex;
  margin-top: 60px;
  color: #808080;
}

li {
  list-style: none;
  font-size: 26px;
}

header a {
  color: grey;
  margin-right: 140px;
  text-decoration: none;
  border-bottom: 2px solid grey;
}

header a:hover {
  border-bottom: 2px solid white;
}


@media only screen and (max-width: 450px) {
      header {
        width: 100%;
      }

      li {
        font-size: 16px;
        margin-right: -110px;
      }
}