section,
ul {
  padding-left: 13%;
}

h1 {
  color: rgb(165, 165, 165);
  width: 100%;
  text-align: center;
  font-size: 70px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  section,
  ul {
    padding-left: 4%;
  }

  h1 {
    padding-top: 10%;
    font-size: 26px;
    width: 350%;
  }
}

/* @media (min-width: 720px) and (max-width: 1520px) {
  header {
    width: 320%;
    margin-bottom: 8%;
  }

  section,
  ul {
    padding-left: 4%;
  }

  li {
    font-size: 36px;
  }
}


@media (max-width: 390px) {
  header {
    width: 250%;
    margin-bottom: 8%;
  }

  section,
  ul {
    padding-left: 4%;
  }

  li {
    font-size: 20px;
    margin-right: 40px;
  }
} */
