section,
ul {
  padding-left: 13%;
}

h1 {
  color: rgb(165, 165, 165);
  width: 100%;
  text-align: center;
  font-size: 70px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  section {
    width: 90%;
  }

  section, ul {
    padding-left: 0%;
  }

  h1 {
    padding-top: 10%;
    font-size: 26px;
    width: 350%;
  }
}